# =========================
# Terraform
# =========================
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# =========================
# VS Code
# =========================
.vscode/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Docker
# =========================
*.tar